/*#region Global Styling*/
//-----SCAFFOLDING-----
.main-container {
	height: 100%;
	width: 100%;
	min-width: 750px;
	max-width: 1000px;
}

@mixin row-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

@mixin col-center {
  display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}


.clearfix-wrap::after {
	content: "";
  clear: both;
  display: inline-block;
	vertical-align: top;
	width: 100%;
}

//-----COLORS-----
$black: #000000;
$black2: #0d0d0d;
$black3: #1a1a1a;
$black4: #262626;
$black5: #333333;
$black6: #404040;
$white: #ffffff;
$white2: #f2f2f2;
$white3: #e6e6e6;
$white4: #d9d9d9;
$white5: #cccccc;
$white6: #bfbfbf;
$aqua1: #66ccff;
$aqua2: #66c2fc;
$aqua3: #66b8fa;
$aqua4: #66adf7;
$aqua5: #66a3f5;
$aqua6: #6699f2;
$aqua7: #668ff0;
$aqua8: #6685ed;
$aqua9: #667aeb;
$aqua10: #6670e8;
$aqua11: #6666e6;
$purple0: #665ce3;
$purple9: #6652e0;
$purple8: #6647de;
$purple7: #663ddb;
$purple6: #6633d9;
$purple5: #6629d6;
$purple4: #661fd4;
$purple3: #6614d1;
$purple2: #660acf;
$purple1: #6600cc;

$primaryLight: #E5F3F9;
$primaryDark: #3D7E97;
$primaryBold: #BE2165;
$secondaryBold: #EEC636;
$dark: #330C1D;

//-----FONTS-----
$header-font: Apple Chancery, URW Chancery L, Snell Roundhand, Cursive;
$primary-font: Verdana, Arial, Times, Courier, Georgia;

@mixin header-font {
	color: $black2;
	font-family: $header-font;
}

@mixin primary-font {
	color: $white3;
	font-family: $primary-font;
}

//-----ANIMATIONS-----

//-----STYLING-----
// @mixin cursor {
// 	cursor: crosshair;
// }

.visible {
	display: normal;
}

.inVisible {
	display: none;
}

.hidden {
	visibility: hidden;
}

.center-wrap {
	text-align: center;
}

.divider {
	width: 100%;
}

/*#endregion Global Styling*/

/*#region HTML Tag Styling*/

* {
	box-sizing: border-box;
}

// html {
//   height: 100vh;
// 	margin: 0;
// 	background: linear-gradient(130deg, #e6e6e6 0%, #66ccff 100%) no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
// 	background-size: cover;
// }

//Header Wraps
header {
  display: visible;
}

//Main Title 
h1 {
	@include header-font;
	font-size: calc(3rem + 3vmin);
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin: 0;
}

//Sub Title
h2 {
  @include header-font;
	font-size: calc(1.75rem + 2.5vmin);
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin: 0;
}

//Page Title
h3 {
	@include header-font;
	font-size: calc(1.75rem + 2vmin);
	margin: 25px 0 15px 0;
}

//Section Header
h4 {
  @include header-font;
	font-size: calc(1.5rem + 1vmin);
	text-decoration: underline;
	margin: 15px 0 0 0;
}

//Small Section Header
h5 {
  @include header-font;
	font-size: calc(1.25rem + 1vmin);
	text-decoration: underline;
	margin: 10px 0 0 0;
}

//Very Small Section Header
h6 {
  @include header-font;
	font-size: calc(1rem + 1vmin);
	text-decoration: underline;
  text-align: center;
	margin: 5px 0 0 0;
}

p {
	@include primary-font;
	font-size: calc(.9rem + .7vmin);
	font-weight: regular;
	text-align: left;
	text-indent: 1.25em;
	word-break: break-word;
	display: visible;
  margin: 5px 3% 15px;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

ol {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
}

ul {
	@include primary-font;
	display: visible;
	list-style-type: arrows;
  padding: 0;
  padding-left: 40px;
	margin: 0 0 0 30px;
}

li {
  display: list-item;
	margin-top: 10px;
}

em {
	@include primary-font;
	font-style: normal;
}

label {
	@include primary-font;
}

a {
	@include primary-font;
	font-size: calc(.9rem + .7vmin);
  text-decoration: underline;
}

// a:hover {
// 	@include cursor;
// }

details {
  display: block;
}

summary {
	font-size: calc(1.5rem + 1vmin);
	text-decoration: underline;
	margin: 15px 0 0 0;
}

/*#endregion HTML Tag Styling*/

/*#region NavBar*/

.navBar-wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	max-width: 960px;
	min-width: 400px;
	margin: 0px auto;
	padding: 1% 0;
}

// .nav-button {
// 	height: calc(5px + 4vh);
// 	min-height: 50px;
// 	width: calc(150px + 5vh);
// 	min-width: 150px;
// 	max-width: 225px;
// 	vertical-align: middle;
// 	color: $white-10;
// 	background-color: transparent;
// 	border: 1px solid $white-25;
// 	border-radius: 15px;
// 	font: calc(1rem + 1vmin) $primary-font;
// }

/*#endregion NavBar*/

/*#region ToDo'sPane*/

.taskItem {
	width: 100%;
	border: 1px solid $white5;
	border-radius: 5px;
	background: transparent;
	margin: 15px auto;
	padding: 3px 8px;
	@include primary-font;
}

/*#endregion ToDo'sPane*/

/*#region VisionPane*/

#timer-wrap {
  @include row-center;
	width: 95%;
	margin: 100px auto;
}

#col-left-control {
	width: 20%;
	margin-right: 50px;
}

.vis-button {
	width: 100%;
	color: $white2;
	background-color: transparent;
	border: 1px solid $white5;
	border-radius: 15px;
	font: calc(1rem + 1vmin) $primary-font;
}

#vision-timer {
	height: 300px;
	width: 300px;
	vertical-align: middle;
	text-align: center;
	color: $white2;
	background-color: transparent;
	border: 3px solid $white5;
	border-radius: 50%;
}

#col-right-control {
	width: 20%;
	margin-left: 50px;
}


/*#endregion VisionPane*/

/*#region PosturePane*/

/*#endregion PosturePane*/

/*#region AppSettings*/

#settings-wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	width: 75%;
	min-width: 650px;
	max-width: 1000px;
	margin: 5px auto;
}

/*#endregion AppSettings*/